In [1]:
import numpy as np 
import pandas as pd

In [5]:
tech_finance = ['GOOG, APPL, AMZN', 'JPM, BOA, GS']

In [6]:
ticker = pd.Series(tech_finance)

In [7]:
ticker

0    GOOG, APPL, AMZN
1        JPM, BOA, GS
dtype: object

In [8]:
ticker.str.split(',')

0    [GOOG,  APPL,  AMZN]
1        [JPM,  BOA,  GS]
dtype: object

In [9]:
ticker.str.split(',', expand=True)

      0      1      2
0  GOOG   APPL   AMZN
1   JPM    BOA     GS

In [17]:
messy_names = pd.Series(['andrew   ', "bo;bo", '  car  '])
messy_names

0    andrew
1        bo;bo
2        car
dtype: object

In [19]:
messy_names = messy_names.str.replace(';', '').str.strip()

In [20]:
messy_names

0    andrew
1      bobo
2       car
dtype: object

In [21]:
messy_names.str.capitalize()

0    Andrew
1      Bobo
2       Car
dtype: object